@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", "sans-serif";
    --color-bgGray: #F5F4FE;
  }


body{
    background-color: var(--color-bgGray);
}


/* width */
.sidebar-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .sidebar-scroll::-webkit-scrollbar-track {
    background: var(--color-bgGray);
  }
  
  /* Handle */
  .sidebar-scroll::-webkit-scrollbar-thumb {
    @apply bg-orange-200 rounded-md
  }
  
  /* Handle on hover */
  .sidebar-scroll::-webkit-scrollbar-thumb:hover {
@apply bg-orange-300
  }

  .sidebar-scroll .active{
    @apply text-orange-500 bg-orange-100 font-semibold
  }